.productListContainer {
  width: 100%;
  max-width: var(--layout-primary-width);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleContainer {
  align-self: flex-start;
}

.productList {
  width: 100%;
  max-width: var(--layout-primary-width);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
