.error {
  color: var(--color-primary-red);
}

.confirm {
  color: var(--color-primary-green);
}

.link {
  color: var(--color-primary-back);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}
