#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-primary-back);
}

body {
  font-family: Inter, sans-serif;
  background-color: var(--color-light-gray);
  color: var(--color-primary-text);
}
