.checkout {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  align-items: center;
  /* padding: var(--spacing-large) var(--spacing-medium); */
}

.checkoutContainer {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-large) var(--spacing-medium);
  gap: var(--spacing-medium);
  background-color: var(--color-primary-white);
  border-radius: var(--border-radius-small);
}

.logoContainer img {
  width: 84px;
}

.checkoutMain {
  width: 100%;
  max-width: var(--layout-primary-width);
  padding: 0 var(--spacing-medium);
  display: flex;
  gap: var(--spacing-medium);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

@media screen and (max-width: 600px) {
  .checkoutMain {
    flex-direction: column-reverse;
  }
}
