.siteHeader {
  width: 100%;
  max-width: 800px;
  padding: var(--spacing-medium) 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}

.upperRow {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.navLink,
.navLinkLogo {
  color: var(--color-primary-back);
  text-decoration: none;
}

.navLink:hover,
.navLinkLogo:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.navLinkLogo:hover {
  text-decoration: none;
}

.columnLeft {
  justify-self: left;
}

.columnCenter {
  justify-self: center;
  font-size: var(--font-size-base);
}

.columnRight {
  justify-self: right;
  display: flex;
  gap: var(--spacing-small);
}

.icon {
  width: 32px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: var(--spacing-medium);
}
