.siteHeader {
  width: 100%;
  max-width: 1000px;
  padding: var(--spacing-x-small) var(--spacing-medium);
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: repeat(2, auto);
  row-gap: 0;
  column-gap: var(--spacing-small);
}

.logoContainer {
  grid-column: 1/2;
  grid-row: 1/2;
}

.logoLink {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logoImg {
  width: 96px;
}

.searchContainer {
  width: 100%;
  max-width: 400px;
  grid-column: 2/3;
  grid-row: 1/2;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.navigationItemsContainer {
  width: 100%;
  grid-column: 3/4;
  grid-row: 1/2;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon {
  width: 32px;
}

/* .profileLink {
  width: 32px;
  height: 32px;
  border: 2px solid var(--color-primary-back);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary-back);
  text-decoration: none;
} */

.navContainer {
  width: 100%;
  grid-column: 1/4;
  grid-row: 2/3;

  display: flex;
  justify-content: center;
  gap: var(--spacing-medium);
}

.navLink {
  color: var(--color-primary-back);
  text-decoration: none;
}

.navLink:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

@media screen and (max-width: 425px) {
  .siteHeader {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
  }

  .logoContainer {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .searchContainer {
    max-width: none;
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .navigationItemsContainer {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .navContainer {
    grid-column: 1/3;
    grid-row: 3/4;
  }
}
