.search {
  width: 100%;
  min-width: 250px;
  border: 2px solid var(--color-gradient-ramp1-solid);
  border-radius: var(--border-radius-large);
  background-color: var(--color-light-gray);
  transition: background-color 0.25s;
  overflow: hidden;
  display: flex;
}

.search:focus-within {
  background-color: var(--color-medium-gray);
}

.input {
  padding: var(--spacing-x-small) var(--spacing-medium);
  font-size: var(--font-size-base);
  color: var(--color-dark-gray);
  border: 0;
  background-color: var(--color-light-gray);
  flex: 1;
  outline: none;
  transition: background-color 0.25s;
}

input:focus {
  background-color: var(--color-medium-gray);
}

.input::placeholder {
  color: #00000080;
}

.searchButton {
  width: 40px;
  background-color: var(--color-gradient-color1);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.25s;
}
