.app {
  width: 100%;
  min-height: 100vh;
}

.main {
  width: 100%;
  padding-bottom: var(--spacing-large);
  background-color: var(--color-light-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
}
